In [1]:
import os

In [2]:
import os.path

In [3]:
import  csv
from  datetime  import datetime
import pandas as pd
import numpy as np
import glob

In [4]:
# Change to top level of extracted data archive
df = pd.read_csv('citibike_tripdata.csv')

In [5]:
len(df)

34455

In [7]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
name_localizedValue0        object
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [8]:
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,338,5/1/18 0:04,5/1/18 0:10,3639,Harborside,40.719252,-74.034234,3199,Newport Pkwy,40.728745,-74.032108,33558,Annual Membership,Subscriber,1988.0,1
1,1482,5/1/18 1:31,5/1/18 1:55,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,33593,24 Hour,Customer,NaN,0
2,232,5/1/18 1:31,5/1/18 1:35,3194,McGinley Square,40.725340,-74.067622,3193,Lincoln Park,40.724605,-74.078406,29217,FREE Bonus Month with Annual Membership,Subscriber,1985.0,1
3,190,5/1/18 2:03,5/1/18 2:06,3185,City Hall,40.717733,-74.043845,3186,Grove St PATH,40.719586,-74.043117,29662,24 Hour,Customer,NaN,0
4,303,5/1/18 4:27,5/1/18 4:32,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730743,-74.063784,15271,Annual Membership,Subscriber,1984.0,2
5,176,5/1/18 4:37,5/1/18 4:40,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,29298,Annual Membership,Subscriber,1989.0,2
6,577,5/1/18 5:05,5/1/18 5:15,3225,Baldwin at Montgomery,40.723659,-74.064194,3186,Grove St PATH,40.719586,-74.043117,33619,Annual Membership from Citi Bike App,Subscriber,1964.0,1
7,830,5/1/18 5:11,5/1/18 5:25,3207,Oakland Ave,40.737604,-74.052478,3185,City Hall,40.717733,-74.043845,33624,Annual Membership,Subscriber,1984.0,2
8,395,5/1/18 5:12,5/1/18 5:18,3225,Baldwin at Montgomery,40.723659,-74.064194,3186,Grove St PATH,40.719586,-74.043117,26300,Annual Membership,Subscriber,1993.0,1
9,170,5/1/18 5:13,5/1/18 5:16,3206,Hilltop,40.731169,-74.057574,3195,Sip Ave,40.730743,-74.063784,33555,$25 Off Annual Membership,Subscriber,1992.0,1